.container-fluid {
  height: 100%;
}

.h-row {
  height: 5%;
  padding: 0;
}

.h-col {
  padding: .25rem 0;
  display: flex;
}
.my-row {
  height: 95%;
  padding: 0;
}

.my-col {
  background-color: darkcyan;
  border: solid black .025rem;
  height: 100%;
  padding: 0;
}

.d-row {
  height: 50%;
  margin: 0;
  padding: 0;
}

.d-col {
  border: solid 1px black;
  padding: 0;
}

.sidebar {
  background-color: cadetblue;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.widgetList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.delete-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16rem;
  width: 100%;
  background-color: indianred;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  width: 7rem;
  background-color: chocolate;
  border: solid .025rem;
}

.resize {
  resize: both;
  overflow: auto;
}

.handle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 95%;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: move;
}
