<div class="container-fluid">
  <div class="row my-row">

    <div class="col-2 my-col sidebar">
      <div class="widgetList" [dragula]="widgets" id="widgetList">
        <div *ngFor="let widget of widgetList" class="box"><span class="handle"> {{widget.valueOf()}} </span></div>
      </div>
      <div class="delete-zone" id="delete-zone">Delete Zone</div>
    </div>

    <div class="col-10 my-col">
      <div class="row d-row">
        <div class="col d-col" [dragula]="widgets"></div>
        <div class="col d-col" [dragula]="widgets"></div>
      </div>
      <div class="row d-row">
        <div class="col d-col" [dragula]="widgets"></div>
        <div class="col d-col" [dragula]="widgets"></div>
      </div>
    </div>
  </div>
</div>
