.wrapper {
  height: 100%;
}

.sidebar {
  float: left;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 16rem;
  height: 100%;
  background-color: cadetblue;
}
.widgetList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.dashboard {
  position: absolute;
  left: 16rem;
  width: 100%;
  height: 100%;
  background-color: darkcyan;
}

.delete-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16rem;
  width: 16rem;
  background-color: indianred;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  width: 7rem;
  background-color: chocolate;
  border: solid .025rem;
  resize: both;
  overflow: auto;
}

.handle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 95%;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: move;
}

.my-row {
  border: solid black .025rem;
  height: auto;
  min-height: 50% !important;
  padding: 0;
}

.my-col {
  border: solid black .025rem;
  height: auto;
  min-height: 50% !important;
  padding: 0;
}




